<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
</head>
<body>

<h1>{{ title }} {{ file.name ?? '' }}</h1>


<form action="/files/add" method="post" name="form" enctype="multipart/form-data">
    Select File to Upload:
    <br>
    <input type="file" name="file">
    <br>
    Name :
    <br>
    <input type="text" name="name" value="{{ file.name ?? '' }}">
    <br>
    Description :
    <br>
    <textarea name="description" cols="30" rows="10">{{ file.description ?? '' }}</textarea>
    <br>
    <input type="hidden" value="{{ action }}" name="action">
    {% if action == 'update' %}
        <input type="hidden" value="{{ file.id }}" name="id">
    {% endif %}
    <input type="submit" name="submit" value="Upload">
</form>
</body>
</html>

